<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weathershow.mapper.WeatherTrendMonthMapper">
    <select id="queryAll" resultType="com.example.weathershow.pojo.WeatherTrendMonth">
        select
        month_dimension,
        avg_temp,
        min_temp,
        max_temp,
        avg_daily_range
        from
        ads_weather_trend_month
        order by
        month_dimension ASC

    </select>
</mapper>