<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weathershow.mapper.WeatherRangeDistributionMapper">

    <select id="findAll" resultType="com.example.weathershow.pojo.WeatherRangeDistribution">
        select
        year,
        range_bucket,
        cnt
        from
        ads_weather_range_distribution
        order by year ASC, range_bucket ASC
    </select>

</mapper>